    </body>
    <footer class="bg-body-tertiary text-center">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <a
            data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                style="background-color: #3b5998;"
                href="#!"
                role="button"
                ><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                style="background-color: #dd4b39;"
                href="#!"
                role="button"
                ><i class="fa fa-instagram w3-hover-opacity"></i></a>
            <div class="mt-2">
                © 2024 Copyright - Essenza Divina
            </div>
        </div>
</footer>
</html>